body,html {
  height: 100%;
  width: 100%;
}
h3{
  border-bottom: 2px solid $color-logo;
  color: #2C2C2C;
  font-size: 3em;
  margin-bottom: 3em;
  padding-bottom: 1em;
  text-align: center;
  text-transform: uppercase;
}
p.description{
    color: $hero-text-color;
    font-size: 1.6em;
    font-weight: 300;
    margin: 1em 0;
  }
.v-padding-6{padding: 6em 0; }
.font-size-4{font-size:4em;}

.btn-white{
  color:#1dcb73;
  padding: 0.3 0.6em;
  background: white;
  border: 1px solid white;
 }
.big{font-size: 2em; padding: 0.85em 1.5em;}
