$navbar-default-bg: white;
$navbar-height: 130px;
$navbar-margin-bottom:0;
// $navbar-brand
//== Colors


// $brand-primary:         darken(#428bca, 6.5%) !default; // #337ab7
$brand-primary:         darken(#16D8D8, 6.5%) !default; // #337ab7
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;
