.featured-works#work.section
	a(href="quincename.html")
		.item
			.image
				img(src="images/projects/quincename-home.jpg", alt="")
				.content
					.top
						p.type web app
						p.name Quincena.me
					.bottom.see-more see more
	a(href="vuelteros.html")
		.item
			.image
				img(src="images/projects/vuelteros-home.jpg", alt="")
				.content
					.top
						p.type web app
						p.name Vuelteros
					.bottom.see-more see more
	a(href="infinanza.html")
		.item
			.image
				img(src="images/projects/infinanza-home.jpg", alt="")
				.content
					.top
						p.type web app
						p.name Infinanza
					.bottom.see-more see more
	a(href="businesshackers.html")
		.item
			.image
				img(src="images/projects/businesshackers-home.jpg", alt="")
				.content
					.top
						p.type web app
						p.name Business Hackers
					.bottom.see-more see more
	a(href="casa-horizontes.html")
		.item
			.image
				img(src="images/projects/casahorizontes-home.jpg", alt="")
				.content
					.top
						p.type web app
						p.name Casa Horizontes
					.bottom.see-more see more
	a(href="cienpreguntas.html")
		.item
			.image
				img(src="images/projects/cienpreguntas-home.jpg", alt="")
				.content
					.top
						p.type web app
						p.name Cien preguntas
					.bottom.see-more see more
	.wrapp-center.hide-medium
		a(href="").see-more.more-works more works
