header.header
	.content.col-sm-12
		a(href="index.html").home-icon
		a(href="").action_mobile
			span
		nav.nav
			ul
				li
					a(href="index.html#work").active#works-1 Our Work
				li
					a(href="index.html#team") Team
				li
					a(href="index.html#services-box") Services
				li
					a(href="project.html") Start a project
				li
					a(href="contact.html")#contact Contact
				//- li
				//- 	a(href="") Blog
