.services.medium
	h2.title Our services
	ul#services
		li
			.image
				img(src="images/fpo/service-webapp.svg", alt="")
			p.name web apps
			p.text We make beautiful experiences for users not only on desktop browsers, but also on mobile by delivering responsive design.
			a(href="project.html?checkbox=webapp").see-more.more-works start
		li
			.image
				img(src="images/fpo/service-ecommerce.svg", alt="")
			p.name ecommerce
			p.text Custom design, online payments and a robust e-commerce framework help us deliver the best online buying experience.
			a(href="project.html?checkbox=ecommerce").see-more.more-works start
		li
			.image
				img(src="images/fpo/service-mobile.svg", alt="")
			p.name mobile
			p.text We build mobile applications to make your product available in every environment.
			a(href="project.html?checkbox=mobile").see-more.more-works start
		li
			.image
				img(src="images/fpo/service-mvp.svg", alt="")
			p.name mvp
			p.text We'll bring a functional prototype of your product to the market that allows for quick iteration and feedback from your clients.
			a(href="project.html?checkbox=mvp").see-more.more-works start
		li
			.image
				img(src="images/fpo/service-product.svg", alt="")
			p.name product prototype
			p.text It's the cheapest and fastest way to test your idea. Functional mockups allow you to quickly measure your customers reaction to your idea.
			a(href="project.html?checkbox=prototype").see-more.more-works start
