.notifications
	a(href="").close-notifications
		img(src="images/misc/close-icon-notifications.svg", alt="X")
	.inner
		.image
			img(src="images/misc/home-icon-footer.svg", alt="")
		p.text We will get in contact with you soon!
		.wrapp-center
				button.button Back to home
