.works-detail
	.wrapp-title.medium
		ul.works-slide
			li
				.wrapper-works-interna
					.title Quincename
					p.text Sugar plum apple pie oat cake gummi bears chupa chups. Soufflé dessert cake cotton candy bear claw liquorice dessert. Bear claw oat cake powder gummi bears cotton candy.
				img(src="images/projects/quincename.jpg", alt="")
	.controls.medium
		a(href="").prev prev
		a(href="").next next
		.wrapp-center
			a(href="index.html").button Back to home

