block variables
	title Kaizen
extend ../basetemplate_details.jade
block content
	include ../modules/header.jade
	.wrapper
		.inner
				.works-detail
					.wrapp-title.medium
						ul.works-slide
							li
								.wrapper-works-interna
									.title Cien Preguntas
									p.text Is an app created to develop the learning abilities needed for the 21st century. Become an expert to search, filter and analyze information. Receive a daily question, and challenge your knowledge. Become a sensei of the abilities needed to create technological ideas.
								img(src="images/projects/6-cienpreguntas.jpg", alt="")
					.controls.medium
						a(href="casa-horizontes.html").prev prev
						//- a(href="cienpreguntas.html").next next
						.wrapp-center
							a(href="index.html").button Back to home
	include ../modules/footer.jade
