block variables
	title Kaizen
extend ../basetemplate_details.jade
block content
	include ../modules/header.jade
	.wrapper
		.inner
				.works-detail
					.wrapp-title.medium
						ul.works-slide
							li
								.wrapper-works-interna
									.title Vuelteros
									p.text Company dedicated to the massification of the collaborative economy. A solution to the problem of traffic and time. Diligences, shopping, merchandise delivery, invoices, envelopes, errands to notaries, chamber of commerce, banks, are some of the procedures you can save time in by requesting a messenger through Vuelteros.
								img(src="images/projects/4-vuelteros.jpg", alt="")
					.controls.medium
						a(href="quincename.html").prev prev
						a(href="infinanza.html").next next
						.wrapp-center
							a(href="index.html").button Back to home
	include ../modules/footer.jade
