block variables
	title Kaizen
extend ../basetemplate_details.jade
block content
	include ../modules/header.jade
	.wrapper
		.inner
			include ../modules/works.jade
	//- include ../modules/contact.jade
	include ../modules/footer.jade
