.collaborators.medium.section.hide-medium
	h2.title collaborators
	.wrapp-items
		.item
			.image
				img(src="images/collaborators/german-escobar.jpg", alt="Germán Escobar")
			p.name Germán Escobar
			a(target="_blank" href="http://germanescobar.net").position Developer & Entrepreneur
		.item
			.image
				img(src="images/collaborators/nayib-abdala.jpg", alt="Nayib Abdala")
			p.name Nayib Abdala
			a(target="_blank" href=" http://www.leaninnovationgroup.com").position Business Strategy
		.item
			.image
				img(src="images/collaborators/juan-gomez.jpg", alt="Juan Gomez")
			p.name Juan Gomez
			a(target="_blank" href="https://github.com/juan267").position Full Stack Developer
		.item
			.image
				img(src="images/collaborators/simon-soriano.jpg", alt="Simon Soriano")
			p.name Simon Soriano
			a(target="_blank" href="http://github.com/simon0191").position Software Engineer
		.item
			.image
				img(src="images/collaborators/alejandro-narvaez.jpg", alt="Alejandro Narvaez")
			p.name Alejandro Narvaez
			a(target="_blank" href="http://saintmiracle.github.io").position Graphic Designer

		.item
			.image
				img(src="images/collaborators/andres-vargas.jpg", alt="Andres Vargas")
			p.name Andres Vargas
			a(target="_blank" href="https://co.linkedin.com/in/javierandresvargas").position UI Developer

				//- img(src="images/collaborators/alejandro.jpg", alt="")

