.contact.form
	.header-form.hide-small
		.image
			img(src="images/misc/home-icon-featured.svg", alt="")
		span.name Contact
	.content.medium
			a(href="index.html").form-close
		h4.text Get in touch with us, if you have comments, suggestions or compliments. If you want to start a project with us use the
			a(href="project.html")  project planner.
		form(action="#").contact-form
			fieldset
				label(for="name") full name
				input(type="text" name="name" placeholder="Your first name")
				//- span.form-error Por favor, llena este campo para continuar
			fieldset
				label(for="email") email address
				input(type="email" name="email" placeholder="Your emal address you@example.com")
			fieldset
				label(for="phone") phone number
				input(type="tel" name="phone" placeholder="Country code + city + phone number")
			fieldset
				label(for="message")
				textarea(name="message", cols="30", rows="5" placeholder="Write  your message here")
			.wrapp-center
				button.button Send
