footer
	.content.medium
		.logo
			a(href="index.html")
				img(src="images/misc/home-icon-footer.svg", alt="logo footer")
		ul.social
			li
				a(href="https://www.facebook.com/kaizendevs" target="_blank").fa.fa-facebook
			li
				a(href="https://www.instagram.com/kaizendevs" target="_blank").fa.fa-instagram
			li
				a(href="https://twitter.com/kaizendevs" target="_blank").fa.fa-twitter
.copyright
	.content.medium
		span Copyright 2015 Kaizendevs S.A.S
