header.header
	.content.col-sm-12
		a(href="#home").home-icon
		a(href="").action_mobile
			span
		nav.nav
			ul
				li
					a(href="#work").active Our Work
				li
					a(href="#team") Team
				li
					a(href="#services-box") Services
				li
					a(href="project.html") Start a project
				li
					a(href="contact.html")#contact Contact
				li
					a(href="") Blog
