.team.section#team
	.image-team.hide-small
		img(src="images/fpo/team-desk.jpg", alt="")
	.wrapp-divider
		.divider
	.content.medium
		.title Team
		p.text We are a multidisciplinary team speaking the same language: code. We share the same passion: building digital products that transform the world.
		.wrapp-center.hide-mobile.more-about-us
			a(href="").see-more.more-works.btn-team-members more about us
		.box-members.hide-medium
			.item
				.image
					img(src="images/fpo/team-sebas.jpg", alt="")
				p.name Sebastián Zapata
				a(href="").position Chief Executive Officer<br>Full Stack Developer
				ul.social
					li
						a(href="").fa.fa-linkedin-square
					li
						a(href="").fa.fa-facebook-official
					li
						a(href="").fa.fa-instagram
					li
						a(href="").fa.fa-twitter
			.item
				.image
					img(src="images/fpo/team-alejo.jpg", alt="")
				p.name Alejandro Escobar
				a(href="").position Chief Technology Officer<br>Full Stack Developer
				ul.social
					li
						a(href="").fa.fa-dribbble
					li
						a(href="").fa.fa-twitter
					li
						a(href="")
			.item
				.image
					img(src="images/fpo/team-german.jpg", alt="")
				p.name Germán Hernández
				a(href="").position Chief Design Officer<br>Full Stack Developer
				ul.social
					li
						a(href="").fa.fa-dribbble
					li
						a(href="").fa.fa-behance
					li
						a(href="").fa.fa-instagram
					li
						a(href="").fa.fa-twitter
